<% if !user_signed_in? %>
<%= render 'pages/home' %>
<% else %>

  <div class="jumbotron">

    <h2>Alerts for <%= current_user.email %></h2>

    <table class="table table-small">
      <thead>
        <tr>
          <th> Department </th>
          <th> Course number </th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @alerts.each do |alert| %>
          <tr>
            <td><%= alert.department %></td>
            <td><%= alert.course_number %></td>
            <td><%= link_to 'Edit', edit_alert_path(alert) %></td>
            <td><%= link_to 'Delete', alert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to 'New Alert', new_alert_path, class: "btn btn-primary", 
    data: { no_turbolink: true } %>
  </div>
  
<% end %>